@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

navBar {
  background-color: #333;
  color: white;
  padding: 1rem;
}

SideBar {
  background-color: #555;
  color: white;
  padding: 1rem;
  width: 200px;
}

main {
  padding: 1rem;
  flex: 1;
}

